<article class = "mb-3 card" id="answer-<%= answer.id %>">
  <div class="row g-0">
    <div class="col-sm-auto rext-sm-center align-self-center">
      <% if answer.user.name.present? %>
          <%=answer.user.name%>
      <% else %>
          <%=answer.user.email.split('@')[0]%>
      <%end%>
      </div>
    <div class = "card-body">
      <section class = "card-text">
        <small><time datetime="<%= answer.formatted_created_at%>">
                <%= answer.formatted_created_at %>
        </time></small>
        <p class = "mt-2 mb-3">
        <%= answer.body %>
        </p>
      </section>
      <%= link_to 'Edit', edit_question_answer_path(question, answer), class: 'btn btn-info btn-sm'%>
      <%= link_to 'Delete', question_answer_path(question, answer), class: 'btn btn-danger btn-sm',
      data: {method: :delete, confirm: "Are you sure?"} %>
    </div>
  </div>
</article>
